@import "tailwindcss";






.banner-container {
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.banner-overlay {
    background-image: url('/bannerGym.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner-overlay::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    padding: 20px;
}

.banner-description h1 {
    font-family: "Playwrite DE SAS", cursive;
    font-size: 2.5rem;
    margin-bottom: 10px;
    animation: fadeInDown 1s ease-in-out;
}

.banner-description p {
    font-family: "Anton", sans-serif;
    font-size: 1.2rem;
    margin: 0;
    animation: fadeInUp 1s ease-in-out;
}


body,
html {
    min-height: 100%;
    background-image: url('/bg-palestra-2.jpg');
    background-size: cover;
    background-position: center;
}